/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #252525, #030303);
}
.container-flex{
  position: relative;
}
.vertical-navbar{
  background-color: black;
  height: 90vh;
  width: 16vw;
}
.navbarItem:hover > a, .navbarItem:hover i{
  color: white;
}
.navbar .fas, .navbar .far{
  color: #b3b3b3;
  margin-right: 16px;
  width: 16px;
  height: 16px;
}
.navbar {
  background-color: black;
}
.navbar a{
  font-weight: bold;
  color: #b3b3b3;
  padding-left: 0;
  padding-right: 0;
}
.navbar-brand > img{
  height: 4vw;
}
.navbar hr{
  border-top: 1px solid #404040;
  margin-top: 0;
  margin-bottom: 0;
}
.user-details a{
  color: white;
}
.player{
  background-color: #282828;
  height: 10vh;
  color: white;
  border-top: 2px solid black;
}
.player i{
  color: #b3b3b3;
}
.player i:hover{
  color: white;
}
.song-image{
  width: 6vh;
  height: 6vh;
  background-color: white;
  overflow: hidden;
}
.song-image img{
  width: 100%;
  object-fit: cover;
}
.song-details{
  height: 6vh;
}
.song-details p{
  margin: 0;
}
#current-song-artist{
  font-size: 11px;
  color: #b3b3b3;
}
.progress-bar{
  width: 5vw;
  height: 3px;
  background-color: #b3b3b3;
}
.player-controls i{
  margin-left: 3vw;
  margin-left: 3vw;
  cursor: pointer;
}
.song-duration{
  width: 70%;
  height: 3px;
}
.player-song-duration{
  font-size: 12px;
  color: #b3b3b3;
}
.navbar-menu{
  padding-right: 0px;
}
.jumbotron.jumbotron-fluid{
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgb(23, 23, 23));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.content-column{
  margin-bottom: 10vh;
}
.content-column .row{
  margin-right: 0;
  margin-left: 0;
}
.content-column h2{
  color: white;
  font-weight: bold;
  padding-left: 7px;
}
.column-for-covers{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-left: 7px;
  padding-right: 7px;
}
.column-for-covers img{
  width: 100%;
  object-fit: cover;
}
.column-for-covers > div{
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 100%;
  text-align: center;
}
.column-for-covers > div > p{
  color: #a3a3a3;
  font-size: 14px;
}
.content-column .jumbotron p{
  color: white;
  opacity: 0.5;
  font-size: 11px;
  text-align: center;
  letter-spacing: 2px;
}
.content-column .jumbotron h1{
  color: white;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 64px;
  margin-bottom: 30px;
}
.content-column .jumbotron .btn{
  border-radius: 25px;
  width: 40%;
  font-size: 11px;
  height: 35px;
  letter-spacing: 2px;
}
.content-column .jumbotron i{
  color: white;
}
.second-div-in-jumbotrone div{
  height: 60px;
  position: relative; 
  padding: 15px 0;
}
.second-div-in-jumbotrone div a{
  color: white;
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
}
.second-div-in-jumbotrone div a:after {    
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #1db954;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.second-div-in-jumbotrone div a:hover:after { 
  width: 100%; 
  left: 0; 
}
.second-div-in-jumbotrone div a:hover{
  color: white;
  opacity: 1;
}
.btn-outline-secondary{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-color: white;
}
.btn{
  border-radius: 4rem;
  width: 50%;
  background-color: rgb(17, 231, 106);       
}
table p{
  color:white;
  margin-bottom: 0;
  cursor: pointer;
}
.table-first-col{
  width: 30px;
  padding: 0px;
}
.card{
  border: 0px;
}
.artist{
  margin-bottom: 16px;
  color: #b3b3b3;
}
.content-col{
  margin-bottom: 10vh;
}
.play:hover{
  background-color: cyan;

}
.controls{
cursor: pointer;
}

@media screen and (max-width: 1444px){
  .navbar-brand > img{
  height: 4vw;
  }
  .content-column{
  margin-bottom: 15vh;
  }
}
@media screen and (max-width: 992px){
  .vertical-navbar{
  width: 24vw;
  }
  .progress-bar{
  width: 8vw;
  }
  .navbar-brand > img{
  height: 6vw;
  }
}
@media screen and (max-width: 767px){
  .player > :nth-child(1) {order: 2;}
  .player > :nth-child(2) {order: 1;}
  .player > :nth-child(3) {order: 2;}
  .player{
      height: 20vh;
  }
  .progress-bar{
  width: 10vw;
  }
  .content-column{
  margin-bottom: 35vh;
  }
  .navbar-brand > img{
  height: 6vh;
  }
}
@media screen and (max-height: 767px){
  .player{
      height: 25vh;
  }
  .navbar-brand > img{
  height: 9vh;
  }
  .vertical-navbar{
  width: 24vw;
  height: 100vh;
  }
  .content-column{
  margin-bottom: 32vh;
  }
}

